/*reset style  */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* --------------roots -----------------*/
:root {
  --color-praimary: #ff5722;
  --color-praimary-dark: #ff7a50;
  --color-navbar: #f8f8f8;
  --color-secendery-dark: #ffa589;
  --color-secendery-lite: #fff6f2;
  --color-heading: #000;
  --color-body: #333333;
  --color-white: #fff;
  --color-border: #fe4e00;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.7;
}
h1,
h2,
h3 {
  color: var(--color-heading);
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
}
/* -------------buttons---------- */
.btn {
  outline: 0;
  padding: 2rem 2.5rem;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  margin: 1rem 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
}
.btn--praimary {
  background-color: var(--color-praimary);
  color: var(--color-white);
}
.btn--secendery {
  background-color: var(--color-secendery-dark);
  color: var(--color-white);
}
.btn--blook {
  width: 100%;
  font: size 1.6rem;
}
@media screen and (min-width: 1024px) {
  .btn {
    font: size 1.6rem;
  }
  .btn--blook {
    font-size: 2rem;
  }
}
/* ---------badge------- */
.badge {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 32px;
  text-transform: uppercase;
  border: 2px solid var(--color-border);
  color: var(--color-praimary);
  background-color: var(--color-white);
}
.badge--praimary {
  background-color: var(--color-border);
  color: var(--color-white);
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}
/*-------- list -------------*/
.list {
  list-style: none;
  font-size: 1.8rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}
/* .list--tick .list__item::before {
  content:"";
  width: 20px;
  height: 20px;
  background: url("/assets/image/Tick-Square.svg") no-repeat;
  padding-right: 3rem;
} */
.list--tick .list__item {
  background: url("/assets/image/Tick-Square.svg") no-repeat right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}
/* --------plan---------- */
.block-plan {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  justify-content: center;
  gap: 7rem 6rem;
  margin-top: 5rem;
}
.plan {
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
}
.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px #ccc;
}
.card__header,
.card__body {
  padding: 3rem 2rem;
}
.card__header {
  background-color: var(--color-secendery-dark);
  color: var(--color-white);
}
.card--primary .card__header {
  background-color: var(--color-praimary-dark);
}
.card--secondry .card__header {
  background-color: var(--color-secendery-dark);
}
.plan__introduction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.plan__price {
  font-size: 3rem;
}
.plan__billing-cycle {
  font-size: 1.4rem;
}
.plan__description {
  display: block;
  margin-top: 1.5rem;
}
.plan .btn--blook {
  margin-top: 10rem;
  font-size: 1.6rem;
}
.plan--popular {
  transform: scale(1.1);
}
.plan--popular:hover {
  transform: scale(1.15);
}
.plan:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .plan .btn--blook {
    font-size: 1.8rem;
  }
}
/* ----contaner--------- */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* ------feature------- */
.feature {
  display: grid;
  justify-content: center;
  padding: 2rem;
  gap: 0rem 10rem;
}
.feature .feature__text {
  margin-bottom: 2rem;
  text-align: justify;

}
.feature .btn {
  padding: 1.2rem 3.1rem;
  margin-bottom: 3rem;
}
.feature__image > img {
  width: 70%;
  height: auto;
}
.feature__image--secandry > img {
  width: 100%;
  height: auto;
}
.feature__image {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.feature__image--secandry {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
  }
  .charge .feature__image{
    order: 1;
  }
  .feature__image {
    width: 100;
    order: 2;
    margin-bottom: 0;
  }
  .feature__detail {
    order: 1;
  }
  .feature__image > img {
    width: 100%;
  }
  /* .feature__image--secandry > img {
    width: 90%;
  } */
}

/* ------contact-us-------- */

.contact-us {
  display: grid;
  justify-content: center;
  gap: 3rem 4rem;
}

.contact-us__map {
  display: none;
}

@media screen and (min-width: 1024px) {
  .contact-us {
    grid-template-areas:
      "address form"
      "map form"
      "icons form";
    grid-template-columns: 70fr 30fr;
  }
  .contact-us__form {
    grid-area: form;
  }
  .contact-us__map {
    grid-area: map;
    display: block;
  }
  .contact-us__icons {
    grid-area: address;
  }
  .contact-us__social {
    grid-area: icons;
  }
}

/* -----icone----- */

.icon {
  width: 24px;
  height: 24px;
}

.icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 100%;
  cursor: pointer;
}

.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-us__icons .icon-holder {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.icon-holder__label {
  margin-left: 1rem;
  display: block;
  max-width: 250px;
}

@media screen and (min-width: 1024px) {
  .contact-us__icons {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact-us__icons .icon-holder {
    margin-top: 0;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
  }
  .icon-holder__label {
    order: 2;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
}

/* -------soshal__icons--------- */
.contact-us__social .icon-container {
  margin-right: 2rem;
}

.contact-us__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  margin-bottom: 2rem;
  border-radius: 10px;
}
@media screen and (min-width: 1024px) {
  .contact-us__social {
    justify-content: flex-end;
    
  }
  .contact-us__social .icon-container {
    margin-left: 2rem;
  }
}

.contact-us__map img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.form-wrapper {
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  padding: 1rem;
}

.form-wrapper h3 {
  margin: 3rem 0;
  text-align: center;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

input {
  display: block;
  outline: 0;
  border: 0;
}

textarea {
  outline: 0;
  resize: none;
}
::placeholder {
  font-size: 1.2rem;
  color: #333;
  font-family: "iranyekan";
}
.form-wrapper input,
.form-wrapper textarea {
  border-radius: 39px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 1.2rem 1.5rem;
  font-family: "iranyekan";
  margin-bottom: 1.5rem;
}
.form-wrapper input:focus,
.form-wrapper textarea:focus {
  border: 1px solid var(--color-praimary);
}
.form-wrapper textarea {
  border-radius: 5px;
}

/* @media screen and (min-width: 1024px) {
  .contact-us__form {
    margin-right: 3rem;
  }
} */

/* -----------FOOTER------------- */

.main-footer {
  background-color: #000;
  color: #fff;
  min-height: 250px;
  display: flex;
  align-items: center;
}
.main-footer .footer {
  display: flex;
  flex-direction: column;
}
.footer__item {
  margin-bottom: 2.5rem;
}

.footer__item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #ccc;
  display: block;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-out;
}
.footer__item a:hover {
  color: var(--color-praimary);
}
.footer__item h6 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer__item.enemad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__enemad {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  max-width: 86px;
  margin-left: 1rem;
}
.footer__enemad img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .main-footer .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__item {
    margin-left: 2rem;
    margin-bottom: 0;
  }
}

/* ------------NAVBAR------------- */

.main-header {
  background-color: var(--color-navbar);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
}
.nav__item {
  margin-top: 1rem;
  border-bottom: 1px solid #ccc;
}
.nav__item > a {
  text-decoration: none;
  color: #444;
  display: block;
  padding-bottom: 1rem;
}
.nav__item > a:hover {
  color: var(--color-praimary);
}
/* .nav__toggler {
  background-color: gold;
} */

.main-header .contaner {
  margin: 1rem auto;
}

.nav__item.cta {
  font-size: 1.4rem;
  border: 0;
}
.nav__item.cta a {
  color: #fff;
  font-size: 1.4rem;
}
.nav__item .btn {
  padding: 1rem 3rem;
}
@media screen and (min-width: 768px) {
  .nav {
    padding: 0 2rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    width: auto;
    opacity: 1;
    max-height: 100%;
  }
  .nav__item {
    margin-right: 2rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    border: 0;
  }
}

/* --------TOGGLER--------- */
.nav__toggler {
  cursor: pointer;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}
.nav.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-9px, 6px);
  margin: 8px 0;
}
.nav.nav__expanded .bar-two {
  opacity: 0;
  transform: translateX(-20px);
}

.nav.nav__expanded .bar-three {
  transform: rotate(45deg) translate(-8px, -8px);
  margin: 8px 0;
}

/* ---------hero-section------------ */

.hero-section {
  position: relative;
  width: 100%;
  height: 478px;
}
.hero-section .banner-img {
  width: 100%;
  height: auto;
}
.hero-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 478px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-btn {
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
}
.intro-btn h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-top: 0;
}
.intro-btn h2 {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 3rem;
}
.intro-btn__passenger {
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 2rem;
  padding: 14px;
  width: 220px;
}
.intro-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.intro-btn__passenger {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.intro-btn__passenger p {
  font-size: 1.2rem;
}
.intro-btn__passenger > i {
  color: #000;
}

.banner-phone {
  display: none;
  position: absolute;
  left: 10%;
  bottom: -50%;
  height: auto;
  width: 420px;
}
@media screen and (min-width: 768px) {
  .hero-wrapper {
    justify-content: flex-start;
    right: 0;
  }
  .intro-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .intro-btn {
    width: 500px;
    min-width: 500px;
    padding: 0 25px;
    border-radius: 20px;
  }
  .intro-btn h1 {
    font-size: 5rem;
  }
  .intro-btn h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .intro-btn__passenger p {
    font-size: 1.6rem;
  }
  .banner-phone {
    display: block;
  }
}

/* -----------SERVICES---------- */

.services__tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
  padding: 5px 0 15px;
}
.services__tabs a {
  text-decoration: none;
  display: block;
  color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
}
.services__tabs .tab > p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.services__tabs img {
  max-width: 85px;
}
.services__tabs .tab {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.services__tabs .tab:hover {
  opacity: 1;
}
.services__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.services .feature__title {
  margin: 1.5rem 0;
}
.services .feature__image {
  display: none;
}
.tab-content {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .feature__detail {
  width: 100%;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: flex;
}
.tab.active {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .services__tabs .tab > p {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
  .services__tabs img {
    width: 100%;
  }
  .services__title {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
  .services .feature__image {
    display: block;
  }
  .services .feature__detail {
    width: 50%;
  }
  .services .feature__image {
    width: 45%;
  }
  .services .feature__image img {
    width: 100%;
  }
}

.block {
}
@media screen and (min-width: 768px) {
  .block {
    padding: 6rem 2rem;
  }
}

.block-heading {
  margin-top: 6rem;
}

/* ------travell--------- */

.travell__slides{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.travell__slides::-webkit-scrollbar{
  display: none;
  
}
.travell__slide{
  flex: 0 0 290px;
  display:   flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.travell__slide:not(:last-child){
  padding-left: 2rem;
}
.slide__img{
  width:  100%;
  height: 200px;
}
.travell__slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}


.slide__detail{
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  padding: 1rem 1.5rem;
  transform: translateY(-60px);
  width: 85%;
}

.slide__header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slide__header p{
  font-size: 1.2rem;
  margin-right: 0.7rem;
}

.slide__header .badge{
  font-size: 1.2rem;
  padding: 0.1rem 1.2rem;
}

.slide__detail .slide__title{
  font-size: 1.4rem;
  font-weight: 700;

}

.slide__detail .slide__icons{
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  color: #cacaca;
}  
/* 
@media screen and (min-width: 768px) {
  .travell__slide:not(:last-child) {
    margin-left: 4rem;
  }
} */

.accordion__haeder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 2rem 2rem;
  border-bottom: 2px solid #ececec;
}

.accordion__haeding{
  margin-bottom:0;
  color: #3a3a3a;
  font-size: 1.8rem;
}


.accordion__content{
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.accordion__content p {
  border-bottom: 2px solid #ececec;
  margin: 1rem 0;
  font-size: 1.4rem;
  color: #878787;
}
.accordion__expanded .accordion__content{
  max-height: 100vh;
  opacity: 1;
  padding: 1rem 4rem;
}

.accordion__haeder i{
  color: var(--color-praimary);
  font-size: 1.6rem;
  transition: all 0.3s ease-out;
 
}

.accordion__expanded .accordion__haeder i{
  transform: rotate(-90deg);
}

.accordion-wrapper{
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #ececec;
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.05);
}

.accordion__intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 2px solid #ececec;
  color: var(--color-praimary);
}

/* AVATAR SECTION */

.avatar-group {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.avatar-group .avatar {
  width: 7rem;
  height: 7rem;
  border: 3px solid #fff;
  border-radius: 100%;
  overflow: hidden;
  margin-left: -20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.avatar:hover {
  transform: translate(10px);
}

.avatar-group .avatar-group img {
  width: 100%;
  height: 100%;
}

.hidden-avatars {
  width: 7rem;
  height: 7rem;
  background-color: var(--color-primary-light);
  color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.4rem;
}
.slide__suggest {
  font-size: 1.2rem;
  color: var(--color-primary);
  margin-right: 5px;
  display: inline-block;
}

/* SELEECT TYPE WEBINAR SECTION */

.select-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-control input[type="radio"] {
  display: none;
}
.select-control {
  cursor: pointer;
  flex-grow: 1;
}
.select-type :not(:last-child) {
  margin-left: 2rem;
}
.select-control label {
  cursor: pointer;
  width: 100%;
  display: block;
  border-radius: 32px;
  border: 2px solid #ccc;
  padding: 1rem 2rem;
  font-weight: 700;
  color: #444;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-out;
}
.select-control label::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  box-shadow: 0 0 0 2px #ccc;
  border-radius: 100%;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid #fff;
  transition: all 0.3s ease-out;
}

.select-control input[type="radio"]:checked + label {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.select-control input[type="radio"]:checked + label::before {
  box-shadow: 0 0 0 2px var(--color-primary);
  background-color: var(--color-primary);
}


.up{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem 1.5rem;
  width: 280px;
  height: 64px;
  border: 2px solid var(--color-border);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1.4rem;
  color: var(--color-navbar);
    background-color: var(--color-praimary);
}

.body-up{
  display: flex;
  align-items: center;
  justify-content: center;


}
